
@import '../../common_scss-styles/common-templates';

.catalog__right_top_item {
    &_title {
        @include common-text(14px,20px,700,uppercase,#6f6e6e);
    }
    &_box3{
        @include common-text(14px,20px,400,none,#6f6e6e);
        &_price{
            &_range {
                width: 262px;
                accent-color: #f16d7f;
            }

            &_value {
                width: 100%;
                @include flex-layout(space-between,center,5px);

            }    
        }
    }
}
